#main .container .texto-main{
    color: white;
    text-align: center;
    font-size: 15px;
 }
 #main .container .texto-main img {
    height: 200px;
    width: 125px;
    border-radius: 10px;
 }
 .container .title{
    font-size: 3.5rem;
    color:#c3c1c1;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
 }
 .image-cir{
    margin: 5% 0;
 }
 .imagem-circulo {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.imagem-circulo img {
    width:  90%;
    height: 90%;
    border-radius: 50%;
    border: .2rem solid red;
}
 .spiner-cicle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #2b3540;
    border-bottom: .2rem solid #2b3540;
    border-left: .2rem solid white;
    border-right: .2rem solid white ; 
    animation: circuloRodar 8s linear infinite;
}
@keyframes circuloRodar {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}