* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.message-box {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 100%;
	width: 100%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form {
    background: blue;
    height: 50%;
    position: relative;
    margin: 0 auto;
    width: 30%;
    border-radius: 8px;
}

.message-box .profileForm {
    position: relative;
    top: 5%;
}

.gradient-text {
        color: gold; /* Cor inicial do texto */
        position: relative;
        animation: shine 2.3s infinite alternate;
    }
      
    @keyframes shine {
        0% {
          color: #ae960e; /* Cor inicial */
          text-shadow: 0 0 5px rgba(255, 223, 0, 0.8); /* Sombra para simular o brilho */
        }
        100% {
          color: #fff838; /* Nova cor para simular o brilho */
          text-shadow: 0 0 20px rgba(255, 223, 0, 0.8); /* Sombra mais intensa para o brilho máximo */
        }
    }

.message-box .profileForm p {
    position: relative;
    bottom: 30px;
    font-size: 1.3rem;
}

.message-box .profileForm span {
    font-weight: bold;
}

.message-box .profileForm .linhaForm1 {
    position: relative;
    top: -44px;
    height: 10px;
    width: 31.7%;
    background: red;
}
.message-box .profileForm .linhaForm2 {
    position: relative;
    height: 10px;
    width: 10px;
    top: -54px;
    left: 68.7%;
    height: 10px;
    width: 31.3%;
    background: red;
}

.message-box .profileForm input {
    background: red; 
    padding: 8px;
    margin: 8px 0;
}
.message-box .profileForm .checkTransition {
    height: 20px;
    width: 20px;
    transition: transform 0.5s;
    animation: scla 0.5s;
}
.message-box .profileForm .checkTransition:checked  {
    transform: rotateY(360deg);
    box-shadow: 0 3px 15px rgb(0, 255, 21);
}
.cont {
    position: relative;
    left: 50px;
    bottom: 20px;
}
   .container {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
  }
  
  .container .bell-regular {
    position: absolute;
    animation: keyframes-fill .5s;
  }
  
  .container .bell-solid {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
  }
  
  /* ------ On check event ------ */
  .container input:checked ~ .bell-regular {
    display: none;
  }
  
  .container input:checked ~ .bell-solid {
    display: block;
  }

  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      opacity: 0;
    }
  
    25% {
      transform: rotate(25deg);
    }
  
    50% {
      transform: rotate(-20deg) scale(1.2);
    }
  
    75% {
      transform: rotate(15deg);
    }
  }
  
  /* .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background: black;
    border-radius: 50px;
    transition: all 0.7s;
    --spread: 20px;
   } */

   /* .container input:checked ~ .checkmark {
    background: black;
    box-shadow: -10px -10px var(--spread) 0px #5B51D8, 0 -10px var(--spread) 0px #833AB4, 10px -10px var(--spread) 0px #E1306C, 10px 0 var(--spread) 0px #FD1D1D, 10px 10px var(--spread) 0px #F77737, 0 10px var(--spread) 0px #FCAF45, -10px 10px var(--spread) 0px #FFDC80;
   }


   .checkbox-wrapper input[type="checkbox"] {
    display: none;
  }
  
  .checkbox-wrapper .terms-label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  
  
  .checkbox-wrapper .checkbox-svg {
    width: 30px;
    height: 30px;
  }
  
  .checkbox-wrapper .checkbox-box {
    fill: rgba(207, 205, 205, 0.425);
    stroke: #8c00ff;
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    transition: stroke-dashoffset 1s ease-in;
  }
  
  .checkbox-wrapper .checkbox-tick {
    stroke: #8c00ff;
    stroke-dasharray: 172;
    stroke-dashoffset: 172;
    transition: stroke-dashoffset 0.6s ease-in;
  }
  
  .checkbox-wrapper input[type="checkbox"]:checked + .terms-label .checkbox-box,
    .checkbox-wrapper input[type="checkbox"]:checked + .terms-label .checkbox-tick {
    stroke-dashoffset: 0;
  }


  <div class="checkbox-wrapper">
  <input id="terms-checkbox-37" name="checkbox" type="checkbox">
  <label class="terms-label" for="terms-checkbox-37">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 200 200" class="checkbox-svg">
      <rect mask="url(#path-1-inside-1_476_5-37)" stroke-width="40" class="checkbox-box" height="200" width="200"></rect>
  </label>
</div> */